body{
	font-size: 12px;
    line-height: 120%;
    color: #1d2d45;
	display: block;
	margin: 8px;
}
a{
	TEXT-DECORATION:none;
	color:yellow;
}
h2{
	color:yellow;
}
p{
	color:purple;
}
.all{
	margin:0 auto;
	width:800px;
	height:1300px;
	background-image:url(../image/b2.jpg);
	background-repeat:no-repeat;
	background-size: 800px 1300px; 
	background-position:center;
}
.bt{
	width:800px;
	height:50px;
	text-align: center;
	line-height:0px;
	font-family:Verdana,Gendana,Arial,sans-serif;
	font-size:30px;
	color:black;
}
.shengfen{
	width:800px;
	height:200px;
	border:1px solid black;
}
.imgs{
	float:left;
}
table{
	width:600px;
	height:100px;
	margin-left:20px;
	margin-right:20px;
	border:thin solid black;
	border-collapse:collapse;
	
}
td,th,tr{
	border:thin solid black;
	padding:5px;
}
caption{
	font-style:italic;
	padding-top:8px;
	
}
.bd-1{
	text-align: center;
}



.kb{
	height:50px;
}
.school{
	
	width:800px;
	height:auto;
}
.s{
	width:800px;
	height:250px;
	float:left;
	border:1px solid #000
}
h2{
	text-align: center;
}
.tp{
	height:100px;
	width:800px;
	float:left;
	background-image:url(../image/3.jpg);
	background-repeat:no-repeat;
	background-size: 50px 50px; 
	background-position:center;
}
.wenzi {
	text-align:left;
}

.xh{
	float:left;
	width:200px;
}
.wz{
	width:600px;
	height:200px;
	float:left;
}


